<!doctype html>
<html manifest="index.manifest">
  <head>
    <title>你造么_时尚,由我创造_全球首家时尚C2B众制平台</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="你造么,C2B,电子商务平台,限量版品牌女装,无库存众制,高性价比女装,高品位女装,时尚平台,原创设计,孵化平台,众制平台,众制模式">
    <meta name="description" content="你造么是全球首家女性时尚C2B电子商务平台,通过无库存+设计师品牌+预订的众制模式,让客户决定时尚的风向和生产的最终产品,为客户带来高性价比高品位的限量版品牌女装.同时,不仅消灭了厂家的库存压力,也塑造了设计师的个人品牌.你造么愿意成为原创设计的孵化平台,让设计和创造更简单,实现智慧的创造力共享!">

    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="apple-touch-icon" sizes="57x57" href="http://cdn.nzaom.com/logo_144.png?t=1">
    <link rel="apple-touch-icon" sizes="114x114" href="http://cdn.nzaom.com/logo_144.png?t=1">
    <link rel="apple-touch-icon" sizes="72x72" href="http://cdn.nzaom.com/logo_144.png?t=1">
    <link rel="apple-touch-icon" sizes="144x144" href="http://cdn.nzaom.com/logo_144.png?t=1">
    <link href="favicon.ico" type="image/x-icon" rel=icon>
    <link href="favicon.ico" type="image/x-icon" rel="shortcut icon">
    <link rel="apple-touch-startup-image" href="http://cdn.nzaom.com/logo-black.png" />
    <link href="css/vendor.min.css" rel="stylesheet"/>
    <link href="css/style.min.css" rel="stylesheet"/>
    <script>
    //声明_czc对象:
    var _czc = _czc || [];
    //绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
    _czc.push(["_setAccount", "1255712349"]);
    </script>
  </head>

  <body>
    <app></app>
    <script src="http://cdn.nzaom.com/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
    <!--<script src="http://cdn.staticfile.org/zepto/1.0rc1/zepto.min.js" type="text/javascript" charset="utf-8"></script>-->
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="js/app.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://s11.cnzz.com/z_stat.php?id=1255712349&web_id=1255712349" language="JavaScript"></script>
  </body>
</html>
