<!doctype html>
<html manifest="index.manifest">
  <head>
    <title>mobile</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-touch-icon-114.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-144.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-touch-icon-144.png">
    <link href="favicon.ico" type="image/x-icon" rel=icon>
    <link href="favicon.ico" type="image/x-icon" rel="shortcut icon">
    <link rel="apple-touch-startup-image" href="/img/apple-touch-icon-144.png" />
    <link href="css/vendor.min.css" rel="stylesheet"/>
    <link href="css/style.min.css" rel="stylesheet"/>
  </head>

  <body>
    <app></app>
    <script src="http://cdn.nzaom.com/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
    <!--<script src="http://cdn.staticfile.org/zepto/1.0rc1/zepto.min.js" type="text/javascript" charset="utf-8"></script>-->
    <script src="js/app.min.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
